* {
    margin: 0;
    padding: 0;
}

.html {
    font-size: 60%;
}

body{
    font-family: Lora;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
  }
  


.navbar {
    box-shadow: 37px -42px 10px 37px #aaa;
    position: relative;
    width: 100%;
    background: #fff;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
}



img {
  padding: 15px;
  width: 200px; 
  height: auto; 
}
  
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-items {
    display: flex;
    order: 2;
  }

  .menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

.menu-items a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
}
  
.menu-items a:hover {
    color: green;
}

.header_Trial{
    color:rgb(210, 150, 150);
    padding: 0.5rem 1rem;
    text-decoration: none;
    justify-content: end;
    border-radius: 5px;
}

 /*Shop Select Cuts */
  
 #food {
    padding: 5rem 0 10rem 0;
  }
  
  #food h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    color: green;
    font-weight: 300;
  }
  
  .food-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }

  .food-featured{
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
  }

  
  .food-container img {
    display: block;
    width: 100%;
    margin: auto;
    align-items: center;
    max-height: 600px;
    object-fit: cover;
    border-radius: 20px;
    object-position: center;
  }
  
  .img-container {
    width: 320px;
    margin: auto;
    padding: 15px;
    object-fit: cover;
    position: relative;
  }

  .img-container-recipes {
    width: 450px;
    margin: auto;
    padding: 15px;
    object-fit: cover;
    position: relative;
  }
  
  .img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
  }
  
  .img-content h3 {
    color: #fff;
    font-size: 2.2rem;
    justify-content: center;
    align-items: center;
  }
  
  .img-content a {
    font-size: 1.2rem;
  }
  
  .img-container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(224, 224, 224, 0.089);
    opacity: 0;
    z-index: 0.5;
  
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .img-container:hover::after {
    opacity: 1;
    transform: scaleY(1);
  }
  
  .img-container:hover .img-content {
    opacity: 1;
    top: 40%;
  }

 
/* sesión  why-better*/

.why-better {
    text-align: center;
}

.why-better_title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color:#5f7062;
    font-weight: 300;
}   

.why-better_grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.why-better_item {
    flex-basis: calc(33.333% - 2rem);
    min-width: 250px;
    max-width: 400px;
}

.why-better_item p {
    text-align: center;
}

.highlight {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}



/*footer*/

.footer {
    background-color: #e6e7e6cb;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
}